@page "/"
@using Taskorate.BlazorApp.Services
@using Taskorate.Models
@using Microsoft.Extensions.Logging
@inject TaskListService TaskListService
@inject NavigationManager NavigationManager

<h1>Create a new task list</h1>

<div class="flex mt-3">
  <input @bind="TaskListName" placeholder="Pick a name..." class="flex-auto mr-2 rounded py-3 px-6 border-2 border-purple-400 border-solid"/>
  <button class="flex-initial bg-purple-700 text-white py-3 px-6 rounded" @onclick="AddTaskList">Add</button>
</div>

@code {

    private string TaskListName { get; set; }

    //protected override async Task OnInitializedAsync()
    //{

    //}

    private async Task AddTaskList()
    {
        if (string.IsNullOrWhiteSpace(TaskListName)) return;

        var result = await TaskListService.Add(new QuickTaskList(TaskListName));

        NavigationManager.NavigateTo($"/{result.Id}");
    }
}
